Repository nikoladic/ethereum-org-website, changes with the labels that .github/labeler.yml gives for each.
All labels: Status: Review Needed, Type: Documentation, Type: Tooling, Type: Dependencies, Type: Translation

.github/labeler.yml:

'Status: Review Needed':
  - docs/**/*

'Type: Documentation':
  - README.md

'Type: Tooling':
  - .github/**/*

'Type: Dependencies':
  - package.json

'Type: Translation':
  - docs/.vuepress/theme/utils/translations.js

Add Rust Developer Docs
  docs/rust/index.md
Labels: Status: Review Needed

Added more resoures to Golang specific page.
  docs/golang/index.md
Labels: Status: Review Needed

Simplified names of channel
  docs/golang/index.md
Labels: Status: Review Needed

Fix JSON error
  .all-contributorsrc
Labels: none

Update contributor count in README
  README.md
Labels: Type: Documentation

Fix spelling of GitHub
  README.md
  docs/.vuepress/theme/components/Header.vue
  docs/.vuepress/theme/components/__tests__/__snapshots__/Header.spec.js.snap
  docs/de/developers/index.md
  docs/developers/index.md
  docs/el/developers/index.md
  docs/es/developers/index.md
  docs/fa/developers/index.md
  docs/fr/developers/index.md
  docs/it/developers/index.md
  docs/javascript/index.md
  docs/ko/use/index.md
  docs/nl/developers/index.md
  docs/pl/developers/index.md
  docs/ru/developers/index.md
  docs/sk/developers/index.md
  docs/zh/developers/index.md
  scripts/generateHeadingIDs.js
Labels: Status: Review Needed, Type: Documentation

Fix /assets copy
  docs/assets/index.md
Labels: Status: Review Needed

Fix package.json
  package.json
Labels: Type: Dependencies

Update yarn.lock
  yarn.lock
Labels: none

Bump version to 0.1.1
  package.json
Labels: Type: Dependencies

Remove .NET / Rust images
  docs/dot-net/index.md
  docs/rust/index.md
Labels: Status: Review Needed

Clear hero intervals on destroy [Fixes #200]
  docs/.vuepress/theme/components/Hero.vue
Labels: Status: Review Needed

Remove deprecated Gitter [Fixes #395]
  docs/enterprise/index.md
Labels: Status: Review Needed

Add All Contributors badge template
  .all-contributorsrc
Labels: none

Fix typo
  docs/developers/index.md
Labels: Status: Review Needed

Forked with latest changes
  docs/dot-net/index.md
Labels: Status: Review Needed

Update Hero.vue
  docs/.vuepress/theme/components/Hero.vue
Labels: Status: Review Needed

Update Rust page meta data
  docs/rust/index.md
Labels: Status: Review Needed

Rename Netlify function [Fixes #535]
  docs/.vuepress/components/LanguagesPage.vue
  docs/developers/index.md
  lambda/crowdin.js
  lambda/translations.js
Labels: Status: Review Needed

added Ethereum in tamil எதீரியம்
  docs/.vuepress/theme/components/Hero.vue
Labels: Status: Review Needed

Added Ethereum in Bengali (local to kolkata)
  docs/.vuepress/theme/components/Hero.vue
Labels: Status: Review Needed

Added Ethereum in Telugu
  docs/.vuepress/theme/components/Hero.vue
Labels: Status: Review Needed

Updated Ethereum in Bengali (Local to Kolkata)
  docs/.vuepress/theme/components/Hero.vue
Labels: Status: Review Needed

Add Alchemy to the 'Backend APIs' section of the developers page [Fixes #547]
  docs/developers/index.md
Labels: Status: Review Needed

Trim header IDs off search results [Fixes #546]
  docs/.vuepress/theme/components/SearchBox.vue
  docs/.vuepress/theme/utils/util.js
Labels: Status: Review Needed

add kauri article 'Running an Ethereum Full Node on a RaspberryPi 4' to the section Ethereum Node Resources
  docs/developers/index.md
Labels: Status: Review Needed

Update Translation Program Slack invite link
  docs/languages/index.md
Labels: Status: Review Needed

Add Ethereum Grid to tools [Closes #558]
  docs/developers/index.md
  docs/javascript/index.md
Labels: Status: Review Needed

added slovenian translation
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/sl/beginners/index.md
  docs/sl/developers/index.md
  docs/sl/index.md
  docs/sl/learn/index.md
  docs/sl/use/index.md
Labels: Status: Review Needed, Type: Translation

fixed some unintentional changes
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
Labels: Status: Review Needed, Type: Translation

removed extra space
  docs/.vuepress/config.js
Labels: Status: Review Needed

Remove outdated README badge
  README.md
Labels: Type: Documentation

Add 'Best Practices for Smart Contract Development' article to Best Practices developer resource
  docs/developers/index.md
Labels: Status: Review Needed

Fix Slovenian formatting & relative links
  docs/.vuepress/components/HomePage.vue
  docs/sl/beginners/index.md
  docs/sl/developers/index.md
  docs/sl/learn/index.md
  docs/sl/use/index.md
Labels: Status: Review Needed

Run build commands sequentially [Fixes #535]
  package.json
  yarn.lock
Labels: Type: Dependencies
