Repository nikoladic/ethereum-org-website, changes with the labels that .github/labeler.yml gives for each.
All labels: Status: Review Needed, Type: Documentation, Type: Tooling, Type: Dependencies, Type: Translation

Add Nethermind to Clients
  docs/developers/index.md
Labels: Status: Review Needed

improve test cases in @/theme/components
  docs/.vuepress/theme/components/__tests__/DropdownLink.spec.js
  docs/.vuepress/theme/components/__tests__/DropdownTransition.spec.js
  docs/.vuepress/theme/components/__tests__/Header.spec.js
  docs/.vuepress/theme/components/__tests__/LanguageDropdown.spec.js
  docs/.vuepress/theme/components/__tests__/NavLink.spec.js
  docs/.vuepress/theme/components/__tests__/NavLinks.spec.js
  docs/.vuepress/theme/components/__tests__/SearchBox.spec.js
  docs/.vuepress/theme/components/__tests__/Sidebar.spec.js
  docs/.vuepress/theme/components/__tests__/SidebarGroup.spec.js
  docs/.vuepress/theme/components/__tests__/SidebarLink.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/DropdownLink.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/DropdownTransition.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Header.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/LanguageDropdown.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/NavLink.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/NavLinks.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SearchBox.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Sidebar.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SidebarGroup.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SidebarLink.spec.js.snap
  docs/.vuepress/theme/utils/__mocks__/translations.js
  docs/.vuepress/theme/utils/__mocks__/util.js
Labels: Status: Review Needed

update readme
  README.md
Labels: Type: Documentation

Clean up NotFound component
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/NotFound.vue
  docs/.vuepress/theme/components/Header.vue
  docs/.vuepress/theme/utils/translations.js
Labels: Status: Review Needed, Type: Translation

Fixes for RandomList.vue
  docs/.vuepress/components/RandomAppList.vue
Labels: Status: Review Needed

enable code coverage for vue components
  jest.config.js
Labels: none

increase code coverage
  docs/.vuepress/theme/components/__tests__/DropdownTransition.spec.js
  docs/.vuepress/theme/components/__tests__/Hero.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/DropdownTransition.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Hero.spec.js.snap
  docs/.vuepress/theme/scripts/__mocks__/morpher.js
  jest.config.js
Labels: Status: Review Needed

fix vue warning: multiple root nodes returned from render function
  docs/.vuepress/theme/components/SidebarLink.vue
  docs/.vuepress/theme/components/__tests__/__snapshots__/SidebarLink.spec.js.snap
Labels: Status: Review Needed

increase code coverage to >80%
  docs/.vuepress/theme/components/__tests__/DropdownLink.spec.js
  docs/.vuepress/theme/components/__tests__/Hero.spec.js
  docs/.vuepress/theme/components/__tests__/SearchBox.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/DropdownLink.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/Hero.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/SearchBox.spec.js.snap
Labels: Status: Review Needed

Add Dutch and Polish translations
  docs/.directory
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/nl/beginners/beginners.md
  docs/nl/developers/developers.md
  docs/nl/index.md
  docs/nl/learn/learn.md
  docs/nl/use/use.md
  docs/pl/beginners/beginners.md
  docs/pl/developers/developers.md
  docs/pl/index.md
  docs/pl/learn/learn.md
  docs/pl/use/use.md
Labels: Status: Review Needed, Type: Translation

Adding Dutch and Polish
  docs/.vuepress/theme/utils/translations.js
  docs/nl/beginners/index.md
  docs/nl/developers/index.md
  docs/nl/index.md
  docs/nl/learn/index.md
  docs/nl/use/index.md
  docs/pl/beginners/index.md
  docs/pl/developers/index.md
  docs/pl/index.md
  docs/pl/learn/index.md
  docs/pl/use/index.md
  package-lock.json
Labels: Status: Review Needed, Type: Translation

Deleted .directory file (vscode)
  docs/.directory
Labels: Status: Review Needed

Add last updated date to Footer and Layout [Fixes #49]
  docs/.vuepress/config.js
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/components/Footer.vue
  package.json
  yarn.lock
Labels: Status: Review Needed, Type: Dependencies

PR review changes
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/components/Footer.vue
Labels: Status: Review Needed

Add tests and configure babel dependencies
  .babelrc
  __tests__/components/__snapshots__/LanguagesPage.spec.js.snap
  __tests__/theme/components/LanguageDropdown.spec.js
  __tests__/theme/components/SidebarGroup.spec.js
  package.json
  yarn.lock
Labels: Type: Dependencies

upgrade to babel 7
  .babelrc
  package.json
  yarn.lock
Labels: Type: Dependencies

update babel config
  .babelrc
  babel.config.js
Labels: none

add unit tests for DefaultList, RandomList, RandomAppList
  docs/.vuepress/components/RandomAppList.vue
  docs/.vuepress/components/RandomList.vue
  docs/.vuepress/components/__tests__/DefaultList.spec.js
  docs/.vuepress/components/__tests__/RandomAppList.spec.js
  docs/.vuepress/components/__tests__/RandomList.spec.js
  docs/.vuepress/components/__tests__/__snapshots__/DefaultList.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/RandomAppList.spec.js.snap
  docs/.vuepress/components/__tests__/__snapshots__/RandomList.spec.js.snap
  docs/.vuepress/theme/components/__tests__/Hero.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/Header.spec.js.snap
Labels: Status: Review Needed

added studio.ethereum.org and the Azure Ethereum Developer Kit
  docs/developers/index.md
Labels: Status: Review Needed

JS console errors on production (#200)
  docs/.vuepress/theme/components/Hero.vue
  package.json
  yarn.lock
Labels: Status: Review Needed, Type: Dependencies

Add translations for "last updated" [Fixes #378]
  docs/.vuepress/theme/Layout.vue
  docs/.vuepress/theme/components/Footer.vue
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
Labels: Status: Review Needed, Type: Translation

improve the log of generateHeadingIDs.js
  scripts/generateHeadingIDs.js
Labels: none

Added ESLint and Prettier config
  .eslintrc.js
  .prettierrc.js
  package.json
  yarn.lock
Labels: Type: Dependencies

Added husky and pretty-quick
  package.json
  yarn.lock
Labels: Type: Dependencies

Added .eslintignore file
  .eslintignore
  .eslintrc.js
  package.json
Labels: Type: Dependencies

Added dist to eslint ignore file
  .eslintignore
Labels: none

Modified the order of eslint plugins
  .eslintrc.js
Labels: none

Revert "Add unit test suite"
  .babelrc
  README.md
  __tests__/components/AssetItem.spec.js
  __tests__/components/HomePage.spec.js
  __tests__/components/LanguagesPage.spec.js
  __tests__/components/__snapshots__/AssetItem.spec.js.snap
  __tests__/components/__snapshots__/HomePage.spec.js.snap
  __tests__/components/__snapshots__/LanguagesPage.spec.js.snap
  __tests__/mocks/FileMock.js
  __tests__/theme/components/DropdownLink.spec.js
  __tests__/theme/components/DropdownTransition.spec.js
  __tests__/theme/components/Footer.spec.js
  __tests__/theme/components/Header.spec.js
  __tests__/theme/components/Hero.spec.js
  __tests__/theme/components/LanguageDropdown.spec.js
  __tests__/theme/components/LanguageIcon.spec.js
  __tests__/theme/components/NavLink.spec.js
  __tests__/theme/components/NavLinks.spec.js
  __tests__/theme/components/SearchBox.spec.js
  __tests__/theme/components/Sidebar.spec.js
  __tests__/theme/components/SidebarButton.spec.js
  __tests__/theme/components/SidebarGroup.spec.js
  __tests__/theme/components/SidebarLink.spec.js
  __tests__/theme/components/__snapshots__/DropdownLink.spec.js.snap
  __tests__/theme/components/__snapshots__/DropdownTransition.spec.js.snap
  __tests__/theme/components/__snapshots__/Footer.spec.js.snap
  __tests__/theme/components/__snapshots__/Header.spec.js.snap
  __tests__/theme/components/__snapshots__/Hero.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageDropdown.spec.js.snap
  __tests__/theme/components/__snapshots__/LanguageIcon.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLink.spec.js.snap
  __tests__/theme/components/__snapshots__/NavLinks.spec.js.snap
  __tests__/theme/components/__snapshots__/SearchBox.spec.js.snap
  __tests__/theme/components/__snapshots__/Sidebar.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarButton.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarGroup.spec.js.snap
  __tests__/theme/components/__snapshots__/SidebarLink.spec.js.snap
  package.json
  yarn.lock
Labels: Type: Documentation, Type: Dependencies

Fix /java typo
  docs/java/index.md
Labels: Status: Review Needed

Update index.md
  docs/developers/index.md
Labels: Status: Review Needed

update generateHeadingIds script
  package.json
  scripts/generateHeadingIDs.js
Labels: Type: Dependencies

remove useless comment in code
  docs/.vuepress/theme/utils/markdown.js
Labels: Status: Review Needed

update anchor links to English versions
  docs/de/use/index.md
  docs/el/use/index.md
  docs/es/use/index.md
  docs/fa/use/index.md
  docs/fr/use/index.md
  docs/it/use/index.md
  docs/ja/use/index.md
  docs/ko/use/index.md
  docs/ru/use/index.md
  docs/sk/use/index.md
  docs/zh/use/index.md
Labels: Status: Review Needed

add the script that is used for generating the anchor links
  scripts/generateHeadingIDs.js
Labels: none

Fix package.json
  package.json
Labels: Type: Dependencies

Fix netlify function issue
  .babelrc
Labels: none

Language Code fixes
  docs/.directory
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/nl/beginners/index.md
  docs/nl/developers/index.md
  docs/nl/index.md
  docs/nl/learn/index.md
  docs/nl/use/index.md
  docs/pl/beginners/index.md
  docs/pl/developers/index.md
  docs/pl/index.md
  docs/pl/learn/index.md
  docs/pl/use/index.md
  package-lock.json
Labels: Status: Review Needed, Type: Translation

Update to universal header ids
  docs/.vuepress/components/HomePage.vue
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/DropdownLink.vue
  docs/.vuepress/theme/utils/translations.js
  docs/de/learn/index.md
  docs/el/learn/index.md
  docs/es/learn/index.md
  docs/fa/learn/index.md
  docs/fr/learn/index.md
  docs/it/learn/index.md
  docs/ja/learn/index.md
  docs/ko/learn/index.md
  docs/learn/index.md
  docs/nl/beginners/index.md
  docs/nl/developers/index.md
  docs/nl/learn/index.md
  docs/nl/use/index.md
  docs/pl/beginners/index.md
  docs/pl/developers/index.md
  docs/pl/learn/index.md
  docs/pl/use/index.md
  docs/ru/learn/index.md
  docs/sk/learn/index.md
  docs/use/index.md
  docs/zh/learn/index.md
Labels: Status: Review Needed, Type: Translation

Fix footer test
  docs/.vuepress/components/__tests__/__snapshots__/HomePage.spec.js.snap
  docs/.vuepress/theme/components/__tests__/Footer.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/Footer.spec.js.snap
Labels: Status: Review Needed

Update internal link references
  docs/.vuepress/theme/utils/__mocks__/translations.js
  docs/beginners/index.md
  docs/de/beginners/index.md
  docs/de/use/index.md
  docs/el/beginners/index.md
  docs/el/use/index.md
  docs/es/beginners/index.md
  docs/es/use/index.md
  docs/fa/beginners/index.md
  docs/fa/use/index.md
  docs/fr/beginners/index.md
  docs/fr/use/index.md
  docs/it/beginners/index.md
  docs/it/use/index.md
  docs/ja/beginners/index.md
  docs/ja/use/index.md
  docs/ko/beginners/index.md
  docs/ko/use/index.md
  docs/nl/beginners/index.md
  docs/nl/use/index.md
  docs/pl/beginners/index.md
  docs/pl/use/index.md
  docs/ru/beginners/index.md
  docs/ru/use/index.md
  docs/sk/beginners/index.md
  docs/sk/use/index.md
  docs/use/index.md
  docs/zh/beginners/index.md
  docs/zh/use/index.md
Labels: Status: Review Needed

.github/labeler.yml:

'Status: Review Needed':
  - docs/**/*

'Type: Documentation':
  - README.md

'Type: Tooling':
  - .github/**/*

'Type: Dependencies':
  - package.json

'Type: Translation':
  - docs/.vuepress/theme/utils/translations.js
