Repository nikoladic/ethereum-org-website, changes with the labels that .github/labeler.yml gives for each.
All labels: Status: Review Needed, Type: Documentation, Type: Tooling, Type: Dependencies, Type: Translation

.github/labeler.yml:

'Status: Review Needed':
  - docs/**/*

'Type: Documentation':
  - README.md

'Type: Tooling':
  - .github/**/*

'Type: Dependencies':
  - package.json

'Type: Translation':
  - docs/.vuepress/theme/utils/translations.js

mock util and fix #387
  docs/.vuepress/theme/utils/__mocks__/util.js
Labels: Status: Review Needed

Updated title and "last updated" date for "90+ Ethereum apps you can use right now"
  docs/use/index.md
Labels: Status: Review Needed

Remove (newly) paywalled bloomberg article
  docs/learn/index.md
Labels: Status: Review Needed

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Type: Tooling

Update language dropdown to nav link [Fixes #396]
  docs/.vuepress/theme/components/Header.vue
  docs/.vuepress/theme/components/LanguageDropdown.vue
  docs/.vuepress/theme/components/NavLinks.vue
  docs/.vuepress/theme/components/__tests__/LanguageDropdown.spec.js
  docs/.vuepress/theme/components/__tests__/__snapshots__/Header.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/LanguageDropdown.spec.js.snap
  docs/.vuepress/theme/components/__tests__/__snapshots__/NavLinks.spec.js.snap
Labels: Status: Review Needed

Slight box shadow
  docs/.vuepress/components/LanguagesPage.vue
  docs/.vuepress/theme/styles/config.styl
Labels: Status: Review Needed

UVP completed
  docs/.vuepress/public/terminal.png
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/getting-started/index.md
Labels: Status: Review Needed

UVP
  docs/.vuepress/theme/styles/theme.styl
  docs/getting-started/index.md
Labels: Status: Review Needed

Adds placeholder terminal gif
  docs/.vuepress/public/terminal.gif
  docs/.vuepress/public/terminal.png
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/getting-started/index.md
Labels: Status: Review Needed

Adds placeholder for getting started
  docs/.vuepress/config.js
  docs/.vuepress/theme/utils/translations.js
  docs/getting-started/index.md
  docs/ko/getting-started/index.md
Labels: Status: Review Needed, Type: Translation

Renames to get started and adds templates
  docs/.vuepress/config.js
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
  docs/get-started/index.md
  docs/getting-started/index.md
  docs/ko/getting-started/index.md
Labels: Status: Review Needed, Type: Translation

Finishes first pass
  docs/.vuepress/public/ecosystem/0x.png
  docs/.vuepress/public/ecosystem/crypto-zombie.png
  docs/.vuepress/public/ecosystem/oz.png
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/get-started/index.md
Labels: Status: Review Needed

Move content to StartBuildingPage component
  docs/.vuepress/components/StartBuildingPage.vue
  docs/.vuepress/config.js
  docs/.vuepress/public/terminal.gif
  docs/.vuepress/theme/styles/responsive.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
  docs/developers/index.md
  docs/get-started/index.md
  docs/learn/index.md
  docs/start-building/index.md
Labels: Status: Review Needed, Type: Translation

Add web-based learning resources
  docs/.vuepress/components/StartBuildingPage.vue
Labels: Status: Review Needed

Update all external links to open new tabs
  docs/.vuepress/components/BuildPage.vue
  docs/.vuepress/theme/components/Footer.vue
Labels: Status: Review Needed

Copy update
  docs/.vuepress/components/StartBuildingPage.vue
Labels: Status: Review Needed

Remove Matomo setDomains() to track subdomain outlinks
  docs/.vuepress/config.js
Labels: Status: Review Needed

Add additional web resources
  docs/.vuepress/components/StartBuildingPage.vue
  docs/.vuepress/public/ecosystem/chainshot.png
  docs/.vuepress/public/ecosystem/consensys.png
  docs/.vuepress/public/ecosystem/remix.png
Labels: Status: Review Needed

Fix button & dark mode styles
  docs/.vuepress/components/StartBuildingPage.vue
  docs/.vuepress/public/ecosystem/oz.png
Labels: Status: Review Needed

Delete docs/ko/getting-started/index.md
  docs/ko/getting-started/index.md
Labels: Status: Review Needed

Add superblocks credit
  docs/.vuepress/components/StartBuildingPage.vue
Labels: Status: Review Needed

Rename /start-building to /build
  docs/.vuepress/components/BuildPage.vue
  docs/build/index.md
  docs/developers/index.md
Labels: Status: Review Needed

Update web-based learning section
  docs/.vuepress/components/StartBuildingPage.vue
Labels: Status: Review Needed

First swing at persona page re-org
  docs/.vuepress/components/HomePage.vue
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/Header.vue
  docs/.vuepress/theme/styles/dark.styl
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
  docs/enterprise/index.md
  docs/individuals/index.md
  docs/what-is-ethereum/index.md
Labels: Status: Review Needed, Type: Translation

Generalize border & shadow classes
  docs/.vuepress/components/LanguagesPage.vue
  docs/.vuepress/theme/components/DropdownLink.vue
  docs/.vuepress/theme/styles/dark.styl
  docs/.vuepress/theme/styles/theme.styl
Labels: Status: Review Needed

Fix DropdownLink width
  docs/.vuepress/theme/components/DropdownLink.vue
  docs/.vuepress/theme/components/Sidebar.vue
  docs/.vuepress/theme/styles/theme.styl
Labels: Status: Review Needed

Refactor to remove /individuals, link to others in nav dropdown
  docs/.vuepress/components/HomePage.vue
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/DropdownLink.vue
  docs/.vuepress/theme/styles/theme.styl
  docs/.vuepress/theme/utils/translations.js
  docs/beginners/index.md
  docs/use/index.md
Labels: Status: Review Needed, Type: Translation

Update homepage link
  docs/.vuepress/components/HomePage.vue
Labels: Status: Review Needed

Add "Getting Started" to developers nav dropdown
  docs/.vuepress/config.js
Labels: Status: Review Needed

Update index.md
  docs/developers/index.md
Labels: Status: Review Needed

Update index.md
  docs/developers/index.md
Labels: Status: Review Needed

Implemented requested changes
  docs/developers/index.md
  docs/dot-net/index.md
Labels: Status: Review Needed

Only show footer artwork credit on homepage
  docs/.vuepress/theme/Layout.vue
Labels: Status: Review Needed

Fix broken link to Zubin Koticha article
  docs/learn/index.md
Labels: Status: Review Needed

Update ERC-20 template to Coin Contract
  docs/.vuepress/components/BuildPage.vue
Labels: Status: Review Needed

smooth-scroll
  docs/.vuepress/theme/Layout.vue
Labels: Status: Review Needed

* undo install of unmet peer dependencies
  package.json
  yarn.lock
Labels: Type: Dependencies

Add @all-contributors bot & update README [Fixes #362]
  README.md
Labels: Type: Documentation

Fix package.json
  package.json
Labels: Type: Dependencies

Fix README anchor link
  README.md
Labels: Type: Documentation
